# Dependency Directories
node_modules/
/dist
/build

# React Native / Expo Specific
.expo/
android/build/
android/app/build/
ios/*.xcworkspace
ios/build/

# macOS
.DS_Store

# IDE / Editor Specific
.vscode/
.idea/
*.swp
*.swo

# Build Artifacts and Logs
/coverage
/temp
/logs

# Security/Secrets
.env
*.pem

# Metro Bundler Cache
/cache

# Testing Artifacts
*.log
